$background_book_item: #e0dcdc;
$background_header: #b3b3b3;
$color_hover: #ab4506;
$white: #ffffff;
$color_toggle: #333;
$category_book: #a2c395;
$book_item: #c0ceb7;
$category_left: #dacaca;
$light-gray: #777;
$gray-medium-light: #eaeaea;
$grey-medium-light: #b3b3b3;
$deep-orange: #ab4506;
$border-color: #bbb;
$nav-color: #333;
$red-dark: #b3b3b3;
$orange-strong: #ab4506;
$white: #ffffff;
$state-danger-text: #ab4506;
$red: #f20202;
$orange-strong: #ab4506;
$black: #000000;
$dark-light: #333;
$gray-lighter: #eaeaea;
